  .carousel-item{
        position: absolute !important;
   }

 	/*header.sticky nav a, header.sticky .subnav a, header.flat-header .nav-social li a, header.flat-header .subnav a{
 		 background: linear-gradient(#b6712b 0%,#F2EA91 20%,#b6712b 100%);
 		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
 	}*/
 	header nav a, header .subnav a, header .nav-social li a, header .subnav a{
 		 background: linear-gradient(30deg,#b6712b 0%,#F2EA91 20%,#b6712b 100%);
 		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		    font-weight: bolder;
 	}
 	.footer-contacts li a {
 		background: linear-gradient(30deg,#b6712b 0%,#F2EA91 20%,#b6712b 100%);
 		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

 	}
 	.to-top-holder p span,.to-top-holder .to-top span{
 		background: linear-gradient(30deg,#b6712b 0%,#F2EA91 20%,#b6712b 100%);
 		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
 	}
 	.header-inner:before {
 		background:#191919 !important; 
 		color: #C59D5F !important;
 	}
 	.carousel-link-holder h3 a {
 		/*color: gold;*/
 		 background: linear-gradient(30deg,#b6712b 0%,#F2EA91 50%,#b6712b 100%);
 		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
 	}
 	.custom-scroll-link i{
 		transition: 1s ease;
      animation: 1s slideInDown infinite;
      animation-direction: alternate-reverse;
 	}
 	.custom-scroll-link:hover i{
      /*animation:.8s mynon;*/
      animation-play-state: paused;
 	}
 	@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -55%, 0);
        transform: translate3d(0, -55%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -55%, 0);
        transform: translate3d(0, -55%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes mynon {
		    from {
		        -webkit-transform: translate3d(0, -30%, 0);
		        transform: translate3d(0, -30%, 0);
		        visibility: visible;
		    }

		    to {
		        -webkit-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
		    }
		}


  /*media quries*/


  @media (min-width: 992px){
    .customNavigation{
      display: none;
    }
  }

  /*media quries*/